In [1]:
import shapefile as SF
import geopandas as gpd
import geodatasets as gds
import pandas as pd
import matplotlib.pyplot as plt
import os

E:\Anaconda_3\envs\wildfire\Lib\site-packages\pyproj\__init__.py:89: UserWarning: pyproj unable to set database path.
  _pyproj_global_context_initialize()

In [2]:
file_path = "../Data/NBAC/nbac_2021_r9_20220624/nbac_2021_r9_20220624.shp"
df = gpd.read_file(file_path)
df

E:\Anaconda_3\envs\wildfire\Lib\site-packages\pyogrio\core.py:24: RuntimeWarning: Could not detect PROJ data files.  Set PROJ_LIB environment variable to the correct path.
  _init_proj_data()

,NFIREID,YEAR,BASRC,FIREMAPS,FIREMAPM,FIRECAUS,BURNCLAS,SDATE,EDATE,AFSDATE,AFEDATE,CAPDATE,POLY_HA,ADJ_HA,ADJ_FLAG,AGENCY,BT_GID,VERSION,COMMENTS,geometry
0,277.0,2021.0,1.0,9.0,7.0,2.0,4.0,2021-08-02,2021-08-03,2021-07-23,2021-09-14,2021-10-06,127.641629,127.641629,0.0,MB,325.0,2021_r9_20220624,Null,"POLYGON ((-10545.197 270684.633, -10549.577 26..."
1,284.0,2021.0,1.0,9.0,7.0,2.0,4.0,2021-07-14,2021-08-03,2021-07-10,2021-09-14,2021-10-06,2993.296614,2993.296614,0.0,MB,112.0,2021_r9_20220624,Null,"MULTIPOLYGON (((-13687.253 354122.603, -13756...."
2,300.0,2021.0,1.0,9.0,7.0,2.0,4.0,2021-06-17,2021-08-03,2021-05-27,2021-10-05,2021-10-06,1202.249287,1202.249287,0.0,MB,249.0,2021_r9_20220624,Null,"MULTIPOLYGON (((-11197.163 257502.520, -11218...."
3,316.0,2021.0,1.0,9.0,7.0,2.0,4.0,2021-07-14,2021-07-20,NaT,NaT,2021-09-30,89.762047,89.762047,0.0,MB,3.0,2021_r9_20220624,Null,"POLYGON ((-338697.214 1220957.709, -338695.779..."
4,1059.0,2021.0,1.0,9.0,7.0,2.0,4.0,2021-07-14,2021-07-16,2021-07-13,2021-08-24,2021-09-30,235.436308,235.436308,0.0,MB,103.0,2021_r9_20220624,Null,"MULTIPOLYGON (((-429153.390 745037.396, -42893..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1748,2760.0,2021.0,3.0,0.0,0.0,3.0,4.0,NaT,NaT,2021-04-15,NaT,NaT,42.766376,46.533948,2.0,PC-JA,900.0,2021_r9_20220624,"2021JA011[notes:,NAME:Henry House Grass Prescr...","MULTIPOLYGON (((-1494873.335 716072.500, -1494..."
1749,2884.0,2021.0,3.0,0.0,5.0,2.0,4.0,NaT,NaT,2021-07-25,NaT,NaT,0.397974,0.518680,2.0,MB,998.0,2021_r9_20220624,"EA180[sourcekeys:,creatmethd:,waterrem:,unburn...","POLYGON ((-97448.548 267072.652, -97454.538 26..."
1750,2891.0,2021.0,3.0,0.0,0.0,4.0,4.0,NaT,NaT,2021-04-10,NaT,NaT,281.061614,284.391917,2.0,MB,1445.0,2021_r9_20220624,"EA014[sourcekeys:,creatmethd:,waterrem:,unburn...","POLYGON ((-174842.333 261206.459, -175006.700 ..."
1751,2861.0,2021.0,3.0,0.0,5.0,4.0,4.0,NaT,NaT,2021-07-26,NaT,NaT,0.099511,0.136818,2.0,MB,1304.0,2021_r9_20220624,"WE076[sourcekeys:,creatmethd:,waterrem:,unburn...","POLYGON ((-412927.727 586146.953, -412930.678 ..."
1752,2569.0,2021.0,3.0,2.0,3.0,4.0,4.0,NaT,NaT,2021-04-15,NaT,2021-04-15,2.743432,3.318848,2.0,BC,607.0,2021_r9_20220624,"C20224[SOURCE:2021 ROLLOVER,METHOD:Non-correct...","POLYGON ((-1774108.863 745063.908, -1774108.85..."

In [3]:
df1 = df.loc[:,["NFIREID","YEAR","SDATE","EDATE","AFSDATE","AFEDATE","geometry"]]
df1

,NFIREID,YEAR,SDATE,EDATE,AFSDATE,AFEDATE,geometry
0,277.0,2021.0,2021-08-02,2021-08-03,2021-07-23,2021-09-14,"POLYGON ((-10545.197 270684.633, -10549.577 26..."
1,284.0,2021.0,2021-07-14,2021-08-03,2021-07-10,2021-09-14,"MULTIPOLYGON (((-13687.253 354122.603, -13756...."
2,300.0,2021.0,2021-06-17,2021-08-03,2021-05-27,2021-10-05,"MULTIPOLYGON (((-11197.163 257502.520, -11218...."
3,316.0,2021.0,2021-07-14,2021-07-20,NaT,NaT,"POLYGON ((-338697.214 1220957.709, -338695.779..."
4,1059.0,2021.0,2021-07-14,2021-07-16,2021-07-13,2021-08-24,"MULTIPOLYGON (((-429153.390 745037.396, -42893..."
...,...,...,...,...,...,...,...
1748,2760.0,2021.0,NaT,NaT,2021-04-15,NaT,"MULTIPOLYGON (((-1494873.335 716072.500, -1494..."
1749,2884.0,2021.0,NaT,NaT,2021-07-25,NaT,"POLYGON ((-97448.548 267072.652, -97454.538 26..."
1750,2891.0,2021.0,NaT,NaT,2021-04-10,NaT,"POLYGON ((-174842.333 261206.459, -175006.700 ..."
1751,2861.0,2021.0,NaT,NaT,2021-07-26,NaT,"POLYGON ((-412927.727 586146.953, -412930.678 ..."
1752,2569.0,2021.0,NaT,NaT,2021-04-15,NaT,"POLYGON ((-1774108.863 745063.908, -1774108.85..."

In [4]:
df1.to_file("test1.shp")

E:\Anaconda_3\envs\wildfire\Lib\site-packages\pyogrio\raw.py:456: RuntimeWarning: Field SDATE create as date field, though DateTime requested.
  ogr_write(
E:\Anaconda_3\envs\wildfire\Lib\site-packages\pyogrio\raw.py:456: RuntimeWarning: Field EDATE create as date field, though DateTime requested.
  ogr_write(
E:\Anaconda_3\envs\wildfire\Lib\site-packages\pyogrio\raw.py:456: RuntimeWarning: Field AFSDATE create as date field, though DateTime requested.
  ogr_write(
E:\Anaconda_3\envs\wildfire\Lib\site-packages\pyogrio\raw.py:456: RuntimeWarning: Field AFEDATE create as date field, though DateTime requested.
  ogr_write(

In [5]:
df1.dtypes

NFIREID           float64
YEAR              float64
SDATE       datetime64[s]
EDATE       datetime64[s]
AFSDATE     datetime64[s]
AFEDATE     datetime64[s]
geometry         geometry
dtype: object

In [6]:
df1.loc[:, ["SDATE", "EDATE"]].max(axis=1)
from datetime import date
zero = date(1900,1,1)
df1.loc[:,["SDATE", "EDATE"]].fillna(zero)

                    SDATE                EDATE
0     2021-08-02 00:00:00  2021-08-03 00:00:00
1     2021-07-14 00:00:00  2021-08-03 00:00:00
2     2021-06-17 00:00:00  2021-08-03 00:00:00
3     2021-07-14 00:00:00  2021-07-20 00:00:00
4     2021-07-14 00:00:00  2021-07-16 00:00:00
...                   ...                  ...
1748           1900-01-01           1900-01-01
1749           1900-01-01           1900-01-01
1750           1900-01-01           1900-01-01
1751           1900-01-01           1900-01-01
1752           1900-01-01           1900-01-01

[1753 rows x 2 columns]

In [7]:
df1.loc[:, "sDate"] = df1.loc[:, ["SDATE","AFSDATE", "EDATE", "AFEDATE"]].min(axis=1)
df1.loc[:, "eDate"] = df1.loc[:, ["SDATE","AFSDATE", "EDATE", "AFEDATE"]].max(axis=1)

In [8]:
df1.loc[:,["SDATE","EDATE","AFSDATE","AFEDATE","sDate","eDate"]]

          SDATE      EDATE    AFSDATE    AFEDATE      sDate      eDate
0    2021-08-02 2021-08-03 2021-07-23 2021-09-14 2021-07-23 2021-09-14
1    2021-07-14 2021-08-03 2021-07-10 2021-09-14 2021-07-10 2021-09-14
2    2021-06-17 2021-08-03 2021-05-27 2021-10-05 2021-05-27 2021-10-05
3    2021-07-14 2021-07-20        NaT        NaT 2021-07-14 2021-07-20
4    2021-07-14 2021-07-16 2021-07-13 2021-08-24 2021-07-13 2021-08-24
...         ...        ...        ...        ...        ...        ...
1748        NaT        NaT 2021-04-15        NaT 2021-04-15 2021-04-15
1749        NaT        NaT 2021-07-25        NaT 2021-07-25 2021-07-25
1750        NaT        NaT 2021-04-10        NaT 2021-04-10 2021-04-10
1751        NaT        NaT 2021-07-26        NaT 2021-07-26 2021-07-26
1752        NaT        NaT 2021-04-15        NaT 2021-04-15 2021-04-15

[1753 rows x 6 columns]

In [9]:
df1.loc[:,"days"] = df1.loc[:,"eDate"] - df1.loc[:, "sDate"]

In [11]:
import numpy as np
np.sum(df1.loc[:, "days"].isna()) 
print(df1.loc[df1.loc[:,"days"].isna()].index.tolist())
df1 = df1.drop(columns=["SDATE", "EDATE", "AFSDATE", "AFEDATE"])
df1 = df1.dropna(axis=0, how='any')

[348, 438, 444, 445, 467, 480, 482, 483, 487, 490]

In [12]:
df1.loc[:,"days"].dt.days.astype(int)

0        53
1        66
2       131
3         6
4        42
       ...
1748      0
1749      0
1750      0
1751      0
1752      0
Name: days, Length: 1743, dtype: int32

In [16]:
file_path1 = "../Data/M3 Hotspot/2021_hotspots/2021_hotspots.shp"
df2 = gpd.read_file(file_path1)
df3 = df2.loc[:,["rep_date", "geometry"]]

In [17]:
df3.dtypes

rep_date      object
geometry    geometry
dtype: object

In [28]:
df3.loc[:,"datetime"] = pd.to_datetime(df3.loc[:,"rep_date"],
               format='%Y/%m/%d %H:%M:%S.%f')
df3.loc[:, "time"] = pd.to_datetime(df3.loc[:,"datetime"]).dt.time
df3.loc[:, "date"] = pd.to_datetime(df3.loc[:,"datetime"]).dt.date

In [29]:
df3

,rep_date,geometry,datetime,time,date
0,2021/09/14 05:14:00.000,POINT (-2368875.142 -313979.031),2021-09-14 05:14:00,05:14:00,2021-09-14
1,2021/05/22 18:20:00.000,POINT (850321.697 -1895367.802),2021-05-22 18:20:00,18:20:00,2021-05-22
2,2021/06/14 04:50:00.000,POINT (-1434395.231 -855747.483),2021-06-14 04:50:00,04:50:00,2021-06-14
3,2021/06/08 08:46:00.000,POINT (-1590829.921 -1606730.807),2021-06-08 08:46:00,08:46:00,2021-06-08
4,2021/06/13 23:41:00.000,POINT (-2589604.130 2482987.201),2021-06-13 23:41:00,23:41:00,2021-06-13
...,...,...,...,...,...
1842080,2021/07/21 18:24:00.000,POINT (-338509.887 1221917.964),2021-07-21 18:24:00,18:24:00,2021-07-21
1842081,2021/07/21 20:06:00.000,POINT (-338650.384 1222149.756),2021-07-21 20:06:00,20:06:00,2021-07-21
1842082,2021/07/20 18:42:00.000,POINT (-339146.827 1222089.603),2021-07-20 18:42:00,18:42:00,2021-07-20
1842083,2021/07/21 20:06:00.000,POINT (-338541.756 1221594.831),2021-07-21 20:06:00,20:06:00,2021-07-21
1842084,2021/07/02 18:20:00.000,POINT (888533.740 527060.262),2021-07-02 18:20:00,18:20:00,2021-07-02

In [42]:
file_path2 = "./raw_data/hotspots/2010_hotspots.shp"

In [43]:
df3 = gpd.read_file(file_path2)
df3

CRSError: Invalid projection: EPSG:3978: (Internal Proj Error: proj_create: no database context specified)